/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;

}

/* Jumbotron */
.jumbotron {
    background-image: url("http://localhost/weblanding/assets/img/jumbotron-bg.jpg");
    /* PR memanggil base_url() pada CSS ? */
    background-size: cover;
    text-align: center;
    height: 540px;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    font-size: 40px;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Panel info */
.panel-info {
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 25px;

}

.panel-info img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 15px;
}

.panel-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;

}

.panel-info p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* Workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 30px 0;
}

/* Testimonial */
.testimonial {
    margin-top: 100px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;
    /* margin: atas kirikanan bawah  */
    margin: 20px 10px 10px;
    opacity: 0.6;
}

.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.testimonial figure p {
    font-size: 12px;
    color: #ACACAC;
    text-align: center;
    margin-top: -5px;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: #ACACAC;
    font-size: 18px;
}

/* @media dapat membedakan perilaku CSS berdasarkan 
ukuran device yang sudah ditentukan (desktop/tab/hp) */

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link,
    .navbar-brand {
        color: white !important;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    }

    /* Menggunakan ::after untuk membuat element baru  */
    .nav-link:hover::after {
        /* wajib ada content meskipun dikosongkan ('') */
        content: '';
        display: block;
        /* membuat garis dibawah tulisan */
        border-bottom: 3px solid #0B63DC;
        /* lebar garis */
        width: 50%;
        /* agar garis berada ditengah */
        margin: auto;
        /* jarak tulisan dengan garis */
        padding-bottom: 5px;
        /* henghilangkan effek perubahan lokasi tulisan sesuai jumpah padding */
        margin-bottom: -8px;
    }

    .jumbotron {
        height: 640px;
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    /* Workingspace */
    .workingspace {
        margin-top: 120px;
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }
}
